.entry-container {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid var(--gray);
    padding: 20px;
}

.category {
    color: var(--artichoke);
}

img {
    width: 128;
    height: 128;
    border-radius: 15px;
}
