.entry-container {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid var(--gray);
    padding: 20px;
}

.link-container {
    text-decoration: none;
}

.recipe {
    color: var(--green);
}

.category {
    color: var(--artichoke);
}

img {
    width: 128px;
    height: 128px;
    border-radius: 15px;
}
