/* Global reset and font family set */
* {
  font-family: var(--font-roboto);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Colours */
  --main-bg-color: #FFE8D6;
  --box-color: #e0aaff;
  --font-color: #101812;
  --second-font: #727272;
  --hover-bg: #e0aaff;
  --btn-color: #DDBEA9;
  --gray: #B7B7A4;
  --green: #6B705C;
  --artichoke: #A5A58D;

  /* Fonts */
  /* --font-roboto: "Roboto", sans-serif; */
  /*300,400,500,700 Weights*/
  --font-roboto: "Roboto", sans-serif;

}

body {
  font-family: var(--font-robto);
  background-color: var(--main-bg-color);
  color: var(--font-color);
}